<% provide(:title, "| Welcome") %>

<div class="container">
  
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="page-header center">
        <h1>Welcome <small> to your account</small></h1>
      </div>
      
      <%= render 'shared/show_flash' %>
      
      <div class="panel">
        <div class="panel-heading text-center">
          <h3><strong>Hello <%= @gender %> <%= @name %></strong></h3>
        </div>
        <h4 class='text-center'>This is the administration page of your profile from here you can 
        perform the various actions available from your account. As <strong><%= @role %></strong> you can do the followings things:</h4>
      </div>
      
      <div class="btn-group btn-group-justified" role="group" aria-label="...">
          <%if current_user.admin %>
            <div class="btn-group" role="group"><%= link_to "Manage URLs", admin_shorts_path, class: 'btn btn-lg btn-info' %></div>
            <div class="btn-group" role="group"><%= link_to "Manage Users", admin_user_index_path, class: 'btn btn-lg btn-info' %></div>
            <div class="btn-group" role="group"><%= link_to "Manage Ads",  admin_admin_advertisements_path, class: 'btn btn-lg btn-info' %></div>
          <%else%>
            <div class="btn-group" role="group"><%= link_to "Manage Ads", advertisements_path, class: 'btn btn-lg btn-info' %></div>
          <%end%>
        </ul>
      </div>
      
    </div>
  </div>

</div>