<div class="row">
  <div class="col-lg-6 ">
    <%= form_for(@short) do |f| %> 
      <%= render 'shared/error_messages' %>
      <%= f.label :url, "Introduce an URL to short:" %>
      <div class="input-group">
        <%= f.text_field :url, class: "form-control"%>
        <span class="input-group-btn"><%= f.submit "Create short", class: "btn btn-default" %></span>
      </div>
    <% end %>
  </div>
</div>