<% provide(:title, "| Profile") %>

<div class="page-header center">
  <h1><%=current_user.name%> Profile <small>See all your info here</small></h1>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
        <%= f.label :name %><%= f.text_field :name, autofocus: true, class: 'form-control' %>
        <%= f.label :company %><%= f.text_field :company, autofocus: true, class: 'form-control' %>
        <%= f.label :email %><%= f.email_field :email, autofocus: true, class: 'form-control' %>
        <%= f.label :gender %></br>
        <label class="custom-control custom-radio">
          <%= f.radio_button :is_female, true, class:'custom-control-input' %>
          <span class="custom-control-indicator"></span>
          <%= f.label :is_female, "Female", class: 'custom-control-description' %>
          <%= f.radio_button :is_female, false, class:'custom-control-input' %>
          <span class="custom-control-indicator"></span>
          <%= f.label :is_female, "Male", class: 'custom-control-description' %>
        </label>
        </br><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "off", class: 'form-control'%>
        <% if @minimum_password_length %>
         <%= f.label :password_confirmation %><em> (<%= @minimum_password_length %> characters minimum)</em>          
        <% end %>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
    
      <div class="actions", id='signup'>
        <%= f.submit "Update", class: 'btn btn-success' %>
        <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger'  %>
        <%= link_to "Back", :back, class: 'btn btn-default'%>
      </div>
    <% end %>