<div class="row">
  <div class="col-md-12 ">
  <%= form_for(@advertisement) do |f| %> 
    <%= render 'shared/error_messages', object: f.object %>
    <%= f.label :title, "Select a new title for your advertisement: " %>
    <%= f.text_field :title, class: "form-control", placeholder:"Title for your advertisement" %>
    <%= f.label :title, "Select a new picture for your advertisement: " %>
    <img id="prev" class="img-responsive" >
        <span class="btn btn-default btn-file btn-block">
          <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png', id: "picture" %> Search… 
        </span>
    <%= f.submit "Update advertisement", class: "btn btn-primary", id: 'signup'%>
  <% end %>
  </div>
</div>

