<div class="row">
  <div class="col-md-12 ">
  <%= form_for(@advertisement) do |f| %> 
    <%= render 'shared/error_messages', object: f.object %>
    <%= f.label :title, "Introduce a title for your advertisement: " %>
    <%= f.text_field :title, class: "form-control", placeholder:"Title for your advertisement" %>
    <%= f.label :title, "Select a picture for your advertisement: " %>
    <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png', class: "browse btn btn-primary btn-block", id: "picture" %>
    <%= f.submit "Create advertisement", class: "btn btn-success", id: 'signup'%>
  <% end %>
  </div>
</div>

<script type="text/javascript">
  $('#advertisement_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>
