  <% provide(:title, "| Manage Advertisements") %>
  
  <div class="page-header">
    <h1>Advertisements <small>See all the advertisements</small></h1>
  </div>
  
  <%= render 'shared/show_flash' %>
  
  <div class="panel panel-default">
    <div class="panel-heading"><h4>Management</h4></div>
    <div class="panel-body scroll-x">
    
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Title</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr class='col-md-9'><%= render 'search_form' %></tr>
          <% @advertisements.each do |advert| %>
          <tr>
            <td class='col-md-9 wrap-word max-length'><h5><%= advert.title %></h5></td>
            <td><%= link_to 'Show', advert, class: "btn btn-info" %></td>
            <td><%= link_to 'Edit', edit_advertisement_path(advert), class: "btn btn-primary" %></td>
            <td><%= link_to 'Destroy', advert, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      
      <div class="text-center">
        <%= will_paginate(@advertisements) %>
      </div>
      
    </div>
    <div class="panel-footer">
      <%= link_to 'New Advertisement', new_advertisement_path, class: "btn btn-success" %>
      <%= link_to 'Back', :back, class: "btn btn-default" %>
    </div>
  </div>