<% provide(:title, "| Shorts Info") %>

<% if !flash.empty? %>
    <div class="alert alert-success" role="alert">
        <p id="notice"><%= flash[:notice] %></p>
    </div>
<% end %>

<div class="page-header">
  <h1>Show <small>Your URL</small></h1>
</div>

<div class="panel panel-default">
    <div class="panel-heading"><h4>See your URL information</h4></div>
    <div class="panel-body">
        <h5><strong>Original Url: </strong><%= link_url(short(params[:id]).url) %></h5>
        <h5><strong>Shorted Url: </strong><%= link_to request.base_url+'/'+short(params[:id]).short_url, request.base_url+'/'+short(params[:id]).short_url, id: 'id-of-link', :target => "_blank" %></h5>
        <h5><strong>Short create at: </strong><%= short(params[:id]).created_at %></h5>
        <h5><strong>Short update at: </strong><%= short(params[:id]).updated_at %></h5>
    </div>
    <div class="panel-footer">
    <%= link_to 'Back', :back, class: "btn btn-default" %>
    </div>
</div>
