<% provide(:title, "| Login") %>

<div class="page-header center">
  <h1>Login <small>Access your account here</small></h1>
</div>

<div class="col-md-8 col-md-offset-2">
  <%= render 'shared/show_flash' %>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, class: 'form-control' %>
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
    <% if devise_mapping.rememberable? -%>
      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>Remember me on this computer</span>
      <% end %>
    <% end -%>
    <%= f.submit "Log in", class: "btn btn-primary btn-block"%>
  <% end %>
  <%= render "devise/shared/links" %>
  </div>
</div>

