<header class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
    <!— Brand and toggle get grouped for better mobile display —>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "URL Shortener", root_path, id: "logo" %>
    </div>

    <!— Collect the nav links, forms, and other content for toggling —>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li id='usuario'><h5>User: <%= current_user.email%></h5></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Tools <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <% if !current_user.admin? %>
              <li><%= link_to "Manage Advertisements", static_pages_manageadvertisements_path %></li>
              <% elsif current_user.admin? %>
              <li><%= link_to "Manage Advertisements", advertisements_path %></li>
              <li><%= link_to "Manage URLs", shorts_path %></li>
              <li><%= link_to "Manage Users", user_index_path %></li>
              <% end %>
            </ul>
          </li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Sign up", new_user_registration_path %></li>
          <li><%= link_to "Login", new_user_session_path %></li>
        <% end %>
      </ul>
    </div><!— /.navbar-collapse —>
  </div><!— /.container-fluid —>
</header>